{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row g-4">
        <!-- Départements -->
        {% for departement in departements %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a href="{% url 'departement_detail' departement.id %}" class="service-item text-center pt-3 activity-card">
                    <div class="p-4">
                        <i class="fa fa-3x fa-university text-primary mb-4"></i>
                        <h5 class="mb-3">{{ departement.nom }}</h5>
                        <p>Code: {{ departement.code }}</p>
                        <p>Budget: {{ departement.budget }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}

        <!-- Clubs -->
        {% for club in clubs %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a href="{% url 'club_detail' club.id %}" class="service-item text-center pt-3 activity-card">
                    <div class="p-4">
                        <i class="fa fa-3x fa-users text-primary mb-4"></i>
                        <h5 class="mb-3">{{ club.nom }}</h5>
                        <p>{{ club.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}

        <!-- Événements -->
        {% for evenement in evenements %}
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a href="{% url 'evenement_detail' evenement.id %}" class="service-item text-center pt-3 activity-card">
                    <div class="p-4">
                        <i class="fa fa-3x fa-calendar-alt text-primary mb-4"></i>
                        <h5 class="mb-3">{{ evenement.nom }}</h5>
                        <p>Date: {{ evenement.date }}</p>
                        <p>Lieu: {{ evenement.lieu }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
